#footer {
  width: 100vw;
  height: 400px;
  position: relative;
  overflow: hidden;
}

#footer-img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  filter: grayscale();
}

#footer .lp-logos {
  height: 80px;
  width: 80px;
  bottom: 35px;
  left: 20px;
  border-radius: 50%;
  position: absolute;
  background-image: url(../src/assets/logo/LinkinPark_Logo_Gif_05c.gif);
  opacity: 0.6;
  z-index: 10;
}

#footer .lp-logos img {
  width: 80px;
  height: 80px;
}

#footer .lp-logos:hover {
  opacity: 1;
}

#footer .rc-studio {
  position: absolute;
  color: #bdbdbd;
  bottom: 20px;
  left: 20px;
}

#footer .rc-studio a {
  margin-left: 3px;
  color: #bdbdbd;
  font-weight: 600;
}

#footer .rc-studio a:hover {
  color: #fff;
  text-decoration: underline;
}

#footer .title {
  width: 100%;
  height: 90px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 40px;
  letter-spacing: 2px;
  color: #bdbdbd;
  font-weight: 400;
  font-size: 14px;
}

#footer .title .uil-signin {
  font-size: 14px;
}

#footer .title #oficial {
  position: absolute;
  left: 15px;
  color: #bdbdbd;
}

#footer .social-media {
  width: 100%;
  height: 55px;
  position: absolute;
  display: flex;
  justify-content: right;
  top: 25px;
  letter-spacing: 30px;
  right: 20px;
}

#footer #social {
  position: relative;
  top: 20px;
}

#footer #social p {
  position: absolute;
  right: 95px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
}

#footer .uil {
  color: #808080;
  text-decoration: none;
  font-size: 30px;
}

#footer .uil:hover {
  color: #000;
}
