#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  overflow: hidden;
}

#header .lp-logo {
  display: flex;
  align-items: center;
  transition: 0.2s;
}

#header .lp-logo:hover {
  scale: 1.1;
}

#header .meteora-btn {
  text-decoration: none;
  transition: 0.2s;
}

#header .meteora-btn:hover {
  scale: 1.05;
}

#header .meteora-word {
  width: 230px;
  height: min-content;
}

#header .meteora {
  color: #000;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 20px;
  text-align: right;
}
