.slide-section {
  overflow: hidden;
}

#slider-content {
  width: 200%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  top: 60px;
  padding: 0;
  margin: 0;
}

#slider-content input {
  display: none;
}

#slider-content .slide-box {
  width: 100vw;
  height: 100%;
  opacity: 0.6;
  position: relative;
  transition: 1.5s;
}

#slider-content .primeiro {
  border-right: 5px solid #000;
}

#slider-content .slide-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#nav-manual {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-manual .manual-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  transform: translateY(-40px);
  transition: 0.2;
}

#nav-manual .uil {
  color: #fff;
  opacity: 0.5;
  font-size: 30px;
}

#nav-manual .btn1 {
  padding-right: 1px;
}

#nav-manual .btn2 {
  padding-left: 5px;
}

#nav-manual .manual-btn:not(:last-child) {
  margin-right: 100px;
}

#nav-manual .manual-btn:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

#radio1:checked ~ .slide-box {
  transform: translateX(-100%);
}

#radio2:checked ~ .slide-box {
  transform: translateX(0);
}
